/* general */

html {
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    @include font-reg;
    @include font(18, 27);
    color: $black;
    background-color: $white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 50px);
}

h1 {
    @include font-bold;
    @include font(36, 44);
    margin: 0 0 20px 0;
}

h2 {
    @include font-bold;
    @include font(24, 28);
    margin: 0 0 10px 0;
}

p {
    margin: 0 0 10px 0;
}

a {
    color: $black;
    text-decoration: underline;
    text-decoration-color: rgba($black, 0.25);
    transition: text-decoration-color 0.3s ease;

    &:hover {
        text-decoration-color: $black;
    }
}
